.Dashboard {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.Dashboard-wrapper {
  background-color: whitesmoke;
  height: 92%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dashboard-main {
  height: 100%;
  width: 70%;
  overflow-y: scroll;
}

.dashboard-main::-webkit-scrollbar {
  visibility: hidden;
}
.aside {
  height: 100%;
  width: 30%;
}
.myDishes {
  margin-left: 60px;
  width: 90%;
  height: 30%;
}

.other-dishes {
  margin-left: 60px;
  width: 90%;
  height: 70%;
}
