.dish-wrapper {
  height: 150px;
  width: 90%;
  background-color: aqua;
  margin-top: 10px;
  display: flex;
}

.dish-image {
  height: 100%;
  width: 30%;
  background-color: yellow;
}

.dish-image img {
  height: 100%;
  width: 100%;
}
.dish-description {
  height: 70%;
  width: 100%;
}
.dish-ranking {
  height: 100%;
  width: 20%;
}
