#login-box {
  box-shadow: 15px 14px 22px 1px rgb(40 38 38 / 58%);
  border-radius: 5px 5px 7px 7px;
  overflow: hidden;
  height: 500px;
  opacity: 1 !important;
  padding-left: 20px;
  width: 300px;
  background: url("../images/login_bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.loader {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
}
.login-header {
  display: flex;
  margin-top: 20px;
  height: 10%;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
  font-family: "Roboto Slab", serif;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: -7px;
  left: -5px;
  width: 15px;
  height: 15px;
  margin: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 60px !important;
}
