.scoreboard-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url("../images/score_board.jpg");
  background-size: cover;
}

.scoreboard {
  background-color: rgba(0, 0, 0, 0.726);
  display: flex;
  height: 80%;
  width: 50%;
  border-radius: 20px;
  margin-top: 20px;
  margin-right: 15px;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scoreboard h1 {
  background-color: white;
  height: 10%;
  width: 100%;
  padding: 20px;
  text-emphasis-color: white;
  font-family: Poppins, sans-serif;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 2px gold;
}

.dishes-scores-list {
  /* margin-left: 40px; */
  flex-direction: column;
  height: auto;
  width: 99%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.dish-scores {
  font-family: Poppins, sans-serif;
  height: 40px;
  background-color: rgb(113 181 174);
  color: black;
  margin-top: 2px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.dish-scores:nth-of-type(1) {
  background-color: gold;
}

.dish-scores:nth-of-type(2) {
  background-color: silver;
}

.dish-scores:nth-of-type(3) {
  background-color: brown;
}
